* {
    padding: 0px;
    margin: 5px;
    font-family: 'Bebas Neue', cursive;
}


.upper {
    display: flex;
    justify-content:flex-end;
    font-family: cursive;
    text-align: right;
}

p {
    font-size: 130px;
    text-align: center;
}

.whatsapp {
    
    height: 1px;
    width: 1px;
}

.instagram {
    height: 1   px;
}

.main {
    display: flex;
    background: no-repeat, center, top;
    margin: 2%;
}

.textoInfomativo {
    font-size: 25px;
    text-align: justify;
    font-family: cursive;
}


.pinkBg {
    background-color: blueviolet;
    background-image: linear-gradient(90deg, #5DADE2 , blue);
}
.intro-banner-vdo-play-btn{
    height:100px;
    width:100px;
    position:absolute;
    top:20%;
    left:12%;
    text-align:left;
    margin:-30px 50 0 -30px;
    border-radius:100px;
    z-index:1
}
.intro-banner-vdo-play-btn .ripple{
    position:absolute;
    width:160px;
    height:160px;
    z-index:-1;
    left:50%;
    top:50%;
    opacity:0;
    margin:-80px 0 0 -80px;
    border-radius:100px;
    -webkit-animation:ripple 1.8s infinite;
    animation:ripple 1.8s infinite
}

@-webkit-keyframes ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
.intro-banner-vdo-play-btn .ripple:nth-child(2){
    animation-delay:.3s;
    -webkit-animation-delay:.3s
}
.intro-banner-vdo-play-btn .ripple:nth-child(3){
    animation-delay:.6s;
    -webkit-animation-delay:.6s
}



